*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #242323;
    height: 100vh;
}
.outerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.qrBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    margin-bottom: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}
button{
    background-color: #4DEEEA;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
}
button>a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
img{
    height: 300px;
    margin: 40px;
}

#download{
    background-color: #74ee15;
    padding: 10px 20px;
}
#download:hover{
    background-color: #59bb0e;
}
button:hover{
    background-color: #0fbebc;
}
input{
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
input::placeholder{
    color: black;
}
footer{
    color: white;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%,0%);
}
@media (max-width: 636px){
    h1{
        font-size: 1.2rem;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input{
        margin-bottom: 10px;
    }
    img{
        height: 100%;
        margin: 20px;
    }

}